.nav {
    font-family: 'Doctor Glitch', 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hometext {
    text-decoration: none;
    font-size: large;
    letter-spacing: 4px;
    color: black;
}

.navlink {
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    width: 20px;
    min-width: max-content;
}

.navlink:hover,
.navlink:active,
.hometext:hover,
.hometext:active {
    color: #ffda99;
    text-shadow: black 2px 3px;
}
