<div class='login-box'>
    <h1>Reg Raver</h1>
    <form method='post'>
        <label>Email</label>
        <input type='email' name='email' placeholder='Email..' value='' />
        <label>Password</label>
        <input type='password' name='password' placeholder='Password..' value='' />
        <label>Repeat Password</label>
        <input type='password' name='repeatPassword' placeholder='Repeat Password..' value='' />

        <input type='submit' value='Submit' />
    </form>
    <p>Not have an account? <a href='/auth/register'>Register here</a></p>
</div>