.wrapper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profileContainer {
    font-family: 'Oxygen', 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-top: 30px;
    background-color: #ffda99;
    height: fit-content;
    font-weight: bolder;
    width: 600px;
    border-radius: 5px;
}

.bottomHeading {
    margin: 20px 0px 30px 30px;
    padding-top: 10px;
    font-family: 'Doctor Glitch', 'Courier New', Courier, monospace;
    letter-spacing: 3px;
    color: #4b8a80;
    text-shadow: black 3px 4px;
    /* margin-left: 680px; */
}

.infoContainer {
    margin: 26px 30px;
}

.eventsContainer {
    width: 100%;
}

img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border: 3px solid #2f4858;
    border-radius: 5px;
}

.bio {
    font-size: 18px;
}

.btnBox {
    display: flex;
    justify-content: center;
    margin-left: -100px;
    margin-bottom: 26px;
}
